@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 236 98.65% 98.26%;
        --foreground: 236 49.4% 4.72%;
        --muted: 236 40% 84%;
        --muted-foreground: 236 3.65% 41.3%;
        --popover: 236 31.6% 91.3%;
        --popover-foreground: 236 7.3% 0.65%;
        --card: 236 31.6% 91.3%;
        --card-foreground: 236 7.3% 0.65%;
        --border: 236 22.3% 76.52%;
        --input: 236 12.3% 89.52%;
        --secondary: 236 40% 84%;
        --secondary-foreground: 236 5.38% 11.3%;
        --accent: 236 40% 84%;
        --accent-foreground: 236 5.38% 11.3%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        /* Genéricos */
        --light: 236 98.65% 98.26%;
        --dark: 236 49.4% 4.72%;
        --primary: 236 76% 59%;
        --primary-light: 235.83 76.16% 70.39%;
        --primary-foreground: 236 7.6% 97.95%;
        --primary-alt: 256 77.2% 62.2%;
        --learner: 222 76% 59%;
        --learner-light: 222 76.16% 70.39%;
        --expert: 276 77.2% 62.2%;
        --master: 42 76% 55%;
        --ring: 236 76% 59%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 236 49.4% 9%;
        --foreground: 236 7.6% 97.95%;
        --muted: 236 38% 20%;
        --muted-foreground: 236 7.6% 55.9%;
        --popover: 236 40% 12%;
        --popover-foreground: 236 7.6% 97.95%;
        --card: 236 40% 12%;
        --card-foreground: 236 7.6% 97.95%;
        --border: 236 38% 20%;
        --input: 236 38% 20%;
        --secondary: 236 38% 20%;
        --secondary-foreground: 236 7.6% 97.95%;
        --accent: 236 38% 20%;
        --accent-foreground: 236 7.6% 97.95%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 236 7.6% 97.95%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

#app {
    min-height: 100vh;
}

.bg-gradient-primary{
    @apply bg-gradient-to-br from-primary-light to-primary;
}

.bg-gradient-secondary{
    @apply
    bg-gradient-to-tl from-secondary
    hover:via-secondary
    dark:bg-gradient-to-br dark:from-30%
    dark:hover:via-70%
}

.bg-gradient-levels-new{
    @apply
    bg-gradient-to-br from-zinc-500/70 to-zinc-500
    hover:via-zinc-500/70 hover:to-zinc-500
    dark:bg-gradient-to-tl
    dark:hover:via-zinc-500 dark:hover:to-zinc-500;
}

.bg-gradient-levels-learner{
    @apply
    bg-gradient-to-br from-levels-learner/70 to-levels-learner
    hover:via-levels-learner/70 hover:to-levels-learner
    dark:bg-gradient-to-tl
    dark:hover:via-levels-learner dark:hover:to-levels-learner;
}

.bg-gradient-levels-educated{
    @apply
    bg-gradient-to-br from-levels-educated/70 to-levels-educated
    hover:via-levels-educated/70 hover:to-levels-educated
    dark:bg-gradient-to-tl
    dark:hover:via-levels-educated dark:hover:to-levels-educated;
}

.bg-gradient-levels-proficient{
    @apply
    bg-gradient-to-br from-levels-proficient/70 to-levels-proficient
    hover:via-levels-proficient/70 hover:to-levels-proficient
    dark:bg-gradient-to-tl
    dark:hover:via-levels-proficient dark:hover:to-levels-proficient;
}

.bg-gradient-levels-expert{
    @apply
    bg-gradient-to-br from-levels-expert/70 to-levels-expert
    hover:via-levels-expert/70 hover:to-levels-expert
    dark:bg-gradient-to-tl
    dark:hover:via-levels-expert dark:hover:to-levels-expert;
}

.bg-gradient-levels-master{
    @apply
    bg-gradient-to-br from-levels-master/70 to-levels-master
    hover:via-levels-master/70 hover:to-levels-master
    dark:bg-gradient-to-tl
    dark:hover:via-levels-master dark:hover:to-levels-master;
}
